*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80vw;
    margin: 0 auto;
}

header {
    border-bottom: 1px solid #212529;
}
.header-section h1{
    text-align: center;
    margin: 10px;
}
.shortcut-btns{
    display: flex;
    justify-content: center;
    align-items: center;
}
.shortcut-btns .shortcut-btn{
    margin: 5px;
    padding: 3px 7px;
    border: 2px solid transparent;
    border-radius: 3px;
    background-color: rgb(239, 239, 239);
    cursor: pointer;
}
.shortcut-btn:hover{
    border-color: #17a3b844;
}

.search-bar{
    margin: 5px 0 20px;
}
.search_form{
    width: 100%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search_form input{
    margin: 0 10px;
    padding: 2px 5px;
    width: 30%;
}
.search_form button{
    margin: 0 10px;
    padding: 4px 10px;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 16px;
}

#submitBtn{
    background-color: #28a745;
}
#submitBtn:hover{
    background-color: #218838;
}
#trendingBtn{
    background-color: #dc3545;
}
#trendingBtn:hover{
    background-color: #c82333;
}

    /* gifs section */

.gif-items{
    width: 100%;
    margin: 25px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start ;
    flex-flow: row wrap;
    gap: 10px;
}
.gif-item{
    border: 1px solid black;
    background-color: white;
    vertical-align: baseline;
}
.gif{
    background-color: rgba(224, 255, 255, 0.45);
}
.gif img{
    height: 200px;
}
.gif-rating{
    padding: 10px;
    text-align: center;
}
