*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --black-1: #000000;
    --black-2: #212529;
    --white-1: #ffffff;
    --white-2: #efefef;
    --light-blue-1: #17a3b844;
    --light-blue-2: #e0ffff73;
    --green-1: #28a745;
    --green-2: #218838;
    --green-3: #4ba8618e;
    --red-1: #dc3545;
    --red-2: #c82333;
    --red-3: #da3e4e8a;
}

.container{
    width: 80vw;
    margin: 0 auto;
}

/* Header section */
header {
    border-bottom: 1px solid var(--black-2);
}
.header-section h1{
    text-align: center;
    margin: 10px;
}
.shortcut-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}
.shortcut-btns .shortcut-btn{
    margin: 5px;
    padding: 3px 7px;
    border: 2px solid transparent;
    border-radius: 3px;
    background-color: var(--white-2);
    cursor: pointer;
}
.shortcut-btn:hover{
    border-color: var(--light-blue-1);
}

.search-bar{
    margin: 5px 0 20px;
}
.search_form{
    width: 100%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}
.search_form input{
    margin: 0 5px;
    padding: 4px 7px;
    width: 25%;
}
.search_form button{
    margin: 0 5px;
    padding: 4px 10px;
    border: none;
    border-radius: 3px;
    color: var(--white-1);
    font-size: 16px;
}

#submitBtn{
    background-color: var(--green-1);
}
#submitBtn:hover, #submitBtn:active{
    background-color: var(--green-2);
    box-shadow: 0 0 1px 3px var(--green-3);
}
#trendingBtn{
    background-color: var(--red-1);
}
#trendingBtn:hover{
    background-color: var(--red-2);
    box-shadow: 0 0 1px 3px var(--red-3);
}

/* gifs section */

.gif-items{
    width: 100%;
    margin: 25px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start ;
    flex-flow: row wrap;
    gap: 10px;
}
.gif-item{
    border: 1px solid var(--black-1);
    background-color: var(--white-1);
    vertical-align: baseline;
}
.gif{
    background-color: var(--light-blue-2);
}
.gif img{
    height: 200px;
}
.gif-rating{
    padding: 10px;
    text-align: center;
}
